.background-page {
  transition: width 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
  float: right;
  height: 100vh;
  overflow-y: scroll;

  .background-content {
    width: 80%;
    margin: 0 auto;

    .background-section {
      margin: 20px 0;
      white-space: pre-line;
      word-break: break-all;
      line-height: 26px;

      // question mark icon
      .question-mark {
        cursor: help;
        margin-left: 5px;
        font-size: 12px;
        color: mediumaquamarine;
      }
    }
  }
}