// screen to show when first open app
.open-theme {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: ghostwhite;
  opacity: 1;
  z-index: 20000;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .app-icon {
    width: 120px;
  }

  .app-name {
    margin-left: 30px;
    font-size: 40px;
    font-weight: 200;
  }
}

.open-theme-animation {
  animation: openDisappear 2.5s linear forwards;
}

@keyframes openDisappear {
  0% {
    opacity: 1;
    z-index: 1000;
  }
  80% {
    opacity: 1;
    z-index: 1000;
  }
  99% {
    opacity: 0;
    z-index: 1000;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}