/**
 * overwrite global ant design css
 */

// overwrite right border of sidebar
.ant-menu {
	border-right: none !important;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
	background-color: rgb(233, 233, 233);
	color: mediumpurple;
}

.ant-menu-inline .ant-menu-item:after,
.ant-menu-vertical-left .ant-menu-item:after,
.ant-menu-vertical-right .ant-menu-item:after,
.ant-menu-vertical .ant-menu-item:after {
	border-right: 3px solid mediumpurple;
}

.ant-menu-item-selected,
.ant-menu-item-selected > a,
.ant-menu-item-selected > a:hover {
	color: mediumpurple;
}

.ant-menu-item-active,
.ant-menu-item:hover,
.ant-menu-submenu-active,
.ant-menu-submenu-title:hover,
.ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open {
	color: mediumpurple;
}

.ant-menu-submenu-selected {
	color: mediumpurple;
}

.ant-collapse-item,
.ant-collapse-content.ant-collapse-content-active,
.ant-collapse.ant-collapse-icon-position-left {
	border: none !important;
}

.ant-collapse.ant-collapse-icon-position-left {
	background-color: white;
	transform: translateX(-15px);
}

.ant-collapse-header {
	font-size: 14px;
}

// create green button
.green-button {
	border-color: mediumaquamarine !important;
	color: mediumaquamarine !important;
}

// create orange button
.orange-button {
	border-color: rgb(255, 191, 72) !important;
	color: rgb(255, 191, 72) !important;
}

// create pink button
.pink-button {
	border-color: pink !important;
	color: pink !important;
}