.main {
  transition: width 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
  float: right;
  position: relative;

  .main-content {
    padding: 30px;
    overflow-x: auto;
    height: calc(100vh - 94px);

    &::-webkit-scrollbar {
      display: none;
    }

    table {
      // part of timeline
      .timeline-component {
        width: 80px;
        height: 100px;
        line-height: 100px;
      }

      .timeline-component-after {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 100px;
      }

      .timeline-header {
        width: 150px !important;
        height: 100px;
        position: absolute;
        background: white;
        padding-left: 40px !important;
        transform: translateX(-30px);
      }

      .timeline-header-after {
        width: 150px !important;
        min-height: 100px;
        position: absolute;
        background: white;
        padding-left: 40px !important;
        transform: translateX(-30px);
      }

      // leftmost th
      .first-person-th {
        margin-left: 120px;
      }

      // input field for each card
      input {
        border: none;
        height: 50px;
        outline: none;
        text-align: center;
      }

      // text area for each card
      textarea {
        border: none;
        outline: none;
        text-align: center;
        padding: 5px;
        resize: none;
      }

      // table body
      td {
        width: 240px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        word-break: break-all;
        min-height: 100px;
        padding: 0 20px;

        // content card
        .main-content-card {
          margin-bottom: 20px;
          margin-top: 20px;
          min-height: 60px;
          width: 200px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;
          border-radius: 5px;
          border: 2px solid lightblue;
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
                      0 1px 2px 0 rgba(0, 0, 0, 0.06);

          // plus icon
          .plus-icon {
            font-size: 20px;
          }
        }
      }

      // table head, only for characters row
      th {
        width: 240px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        word-break: break-all;
        height: 100px;
        padding: 0 20px;

        // character card
        .main-character-card {
          width: 200px;
          height: 60px;
          line-height: 60px;
          text-align: center;
          border-radius: 5px;
          box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
                      0 4px 6px -2px rgba(0, 0, 0, 0.05);

        }
      }

      // clear float
      &:after {
        content: '';
        display: block;
        clear: both;
        visibility: hidden;
        height: 0;
      }
    }
  }
}

.main-grow {
  width: calc(100% - 25px) !important;
}