.main {
  transition: width 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
  float: right;
  position: relative;
  width: calc(100% - 300px);

  .main-content {
    padding: 0 30px;
    overflow-x: auto;
    height: calc(100vh - 114px);

    &::-webkit-scrollbar {
      display: none;
    }

    // when page is empty
    .empty-outline-page {
      text-align: center;
      
      img {
        margin-top: 20px;
        width: 40%;
      }
    }

    table {
      tbody {
        transform: translateY(-30px);
      }

      // input field for each card
      input {
        border: none;
        height: 50px;
        outline: none;
        text-align: center;
      }

      // text area for each card
      textarea {
        border: none;
        outline: none;
        text-align: center;
        padding: 5px;
        width: 194px;
        border-radius: 5px;
        overflow: hidden;
        word-break: break-all;
      }
    }
  }
}

// animation for toggling sidebar
.main-grow {
  width: calc(100% - 25px) !important;
}