.main-header {
  // heart icon
  .header-add-fav {
    transform: translateY(-5px);
    font-size: 20px;
    cursor: pointer;
  }

  .red-heart {
    color: crimson;
  }

  // add text-overflow to header subtitle
  .main-description-short {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100px;
    margin-right: 10px;
    display: inline-block;
  }
}

.delete-outline-menuitem {
  color: crimson;
}