.character {
  transition: width 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
  float: right;
  height: 100vh;
  overflow-y: scroll;

  .character-content {
    padding-left: 40px;

    // each info section
    .character-section {
      margin: 10px 0;

      // profile image
      .profile-image {
        max-width: 100%;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
      }

      // text with numbers
      .numbered-text {
        white-space: pre-line;
        word-break: break-all;
      }
    }
  }

  // overwrite ant design style
  .ant-page-header-back {
    margin-left: 18px;
  }
}