.character {
  transition: width 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
  float: right;
  height: 100vh;
  overflow-y: scroll;

  .character-content {
    padding-left: 40px;
  }

  // overwrite ant design style
  .ant-page-header-back {
    margin-left: 18px;
  }
}