.location {
  transition: width 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
  float: right;
  height: 100vh;
  overflow-y: scroll;

  .location-content {
    width: 650px;
    margin: 0 auto;

    // each info section
    .location-section {
      margin: 20px 0;

      // text with multiple lines
      .multiline-text {
        white-space: pre-line;
        word-break: break-all;
      }

      // question mark icon
      .question-mark {
        cursor: help;
        margin-left: 5px;
        font-size: 12px;
        color: mediumaquamarine;
      }

      // location input
      .location-input {
        width: 100px;
        outline: none;
        border: none;
        border-bottom: 1px solid black;
        overflow: visible;
        transform: translateY(-2px);
        display: inline-block;
        margin-bottom: 5px;
      }

      // delete icon
      .delete-icon-container {
        display: inline-block;
        width: 20px;
        text-align: center;
        &:hover {
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
        }

        .delete-icon {
          cursor: pointer;
          color: crimson;
          font-size: 16px;
        }
      }

      .location-name-input {
        font-size: 24px;
      }

      .short-input {
        width: 60px;
      }

      .medium-input {
        width: 200px;
      }

      .long-input {
        width: 400px;
      }

      // image uploader
      .profile-image-uploader {
        margin-top: 20px;
      }

      // profile image
      .profile-image {
        display: block;
        width: 500px;
        margin-top: 20px;
        margin-bottom: 40px;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
      }

      // text with numbers
      .numbered-text {
        white-space: pre-line;
        word-break: break-all;
      }
    }
  }

  // overwrite ant design style
  .ant-page-header-back {
    margin-left: 18px;
  }
}