.novel {
  transition: width 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
  float: right;
  height: 100vh;
  overflow-y: scroll;

  .novel-content {
    padding-left: 40px;
  }

  // overwrite ant design style
  .ant-page-header-back {
    margin-left: 18px;
  }

  // novel's description
  .novel-description {
    white-space: pre-line;
    word-break: break-all;
    width: 650px;
    line-height: 30px;
  }

  // novel's tag
  .novel-tag {
    display: inline-block;
    margin: 0 5px;
    transform: translateY(-5px);
    padding: 2.5px 8px;
    border: 1px solid palevioletred;
    color: palevioletred;
    border-radius: 10px;
    font-size: 10px;
  }

  // background section, each line
  .background-property {
    margin: 5px 0 5px 30px;
    line-height: 28px;
    white-space: pre-line;
    word-break: break-all;
  }

  // card to add new character
  .add-character-card {
    .ant-card-body {
      height: 100px !important;
      line-height: 80px;
    }

    .ant-card-head-title {
      color: palevioletred;
    }
  }

  // delete icon
  .delete-icon {
    color: crimson;
    position: absolute;
    top: 5px;
    right: 22%;
    z-index: 10;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .card-container {
    &:hover > .delete-icon {
      opacity: 1;
    }
  }

  // custom card
  .custom-card {
    width: 80%;
    margin-bottom: 20px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 
                0 4px 6px -2px rgba(0, 0, 0, 0.05);

    // overwrite ant design style
    .ant-card-head {
      border-bottom: none !important;
    }
    .ant-card-body {
      padding: 0 !important;
      position: relative;
      height: 220px;
      overflow: hidden;
    }

    img {
      height: 300px;
      min-width: 100%;
      transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
      position: absolute;
      top: -9999px;
      bottom: -9999px;
      left: -9999px;
      right: -9999px;
      margin: auto;
      display: block;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  // card for location
  .location-card {
    .ant-card-body {
      height: 140px;
    }
  }

  // card for outline
  .outline-card {
    .ant-card-body {
      min-height: 120px;
      height: auto;
    }
  }
}