.novel {
  .novel-content {
    padding-left: 40px;
  }

  // overwrite ant design style
  .ant-page-header-back {
    margin-left: 18px;
  }

  // input for novel title
  .novel-title-input {
    font-size: 21px;
    font-weight: bold;
    width: 400px;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    overflow: visible;
    display: block;
    margin-bottom: 10px;
    transform: translate(-1px, -1px);
    color: rgba(0,0,0,.85);
  }

  // novel's description
  .novel-description {
    white-space: pre-line;
    word-break: break-all;
    width: 650px;
    line-height: 30px;
  }

  // container of tags
  .tag-container {
    display: inline-block;

    // novel's tag
    .novel-tag {
      display: inline-block;
      margin: 0 5px;
      transform: translateY(-5px);
      padding: 2.5px 8px;
      border: 1px solid palevioletred;
      color: palevioletred;
      border-radius: 10px;
      font-size: 10px;
    }

    // novel's tags under edit mode
    .novel-tag-edit {
      margin-top: 5px;
      margin-bottom: 5px;
      color: rgb(170, 169, 169);
      border-color: rgb(170, 169, 169);
      cursor: pointer;
    }

    // tag container's header
    .tag-container-header {
      width: 100%;
    }

    // tag container's content
    .tag-container-content {
      padding-top: 20px;
    }

    // tag container's header under edit mode
    .tag-container-header-edit {
      border-bottom: 1px solid #d9d9d9;
      padding-bottom: 10px;
      height: 35px;
    }
  }

  // ccontainer of edit mode
  .tag-container-edit {
    display: block;
    width: 60%;
    margin: 20px 0;
    padding: 20px 15px;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }

  // background section, each line
  .background-property {
    margin: 5px 0 5px 30px;
    line-height: 28px;
    white-space: pre-line;
    word-break: break-all;
  }

  // background edit cover
  .background-edit-cover {
    position: absolute;
    top: -10%;
    left: 0;
    background: rgba(211, 211, 211, 0.7);
    text-align: right;
    width: 100%;
    height: 115%;
    z-index: 100;
    color: palevioletred;
    padding-top: 5px;
    padding-right: 10px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }

  // card to add new character
  .add-character-card {
    .ant-card-body {
      height: 100px !important;
      line-height: 80px;
    }

    .ant-card-head-title {
      color: palevioletred;
    }
  }

  // check all box
  .check-all-box {
    position: absolute;
    top: -45px;
    right: 20px;
  }
}

/**
 * all the following styles are are attached to body
 * the purpose is to enable card style during drag
 * because react-sortable-hoc appends element to body during drag
 */
.card-container {
  &:hover > .delete-icon {
    opacity: 1;
  }

  // card edit cover
  .card-edit-cover {
    width: 85%;
    height: calc(100% - 20px);
    background: rgba(211, 211, 211, 0.7);
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;

    // custom check box
    .custom-checkbox {
      position: absolute;
      top: 6px;
      right: 5px;
    }
  }
}

// custom card
.novel-custom-card {
  width: 80%;
  margin-bottom: 20px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 
              0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;

  // overwrite ant design style
  .ant-card-head {
    border-bottom: none !important;
  }
  .ant-card-body {
    padding: 0 !important;
    position: relative;
    height: 220px;
    overflow: hidden;
  }

  img {
    height: 300px;
    min-width: 100%;
    transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    display: block;

    &:hover {
      transform: scale(1.1);
    }
  }
}

// list items
.card-li {
  width: 25%;
  margin: 0;
  list-style-type: none;
  display: inline-block;
  position: relative;
}

// list items for location
.card-li-location {
  width: 33%;
}

// card for location
.location-card {
  .ant-card-body {
    height: 140px;
  }
}

// delete icon
.delete-icon {
  color: crimson;
  position: absolute;
  top: 5px;
  right: 22%;
  z-index: 10;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

// card for outline
.outline-card {
  .ant-card-body {
    min-height: 120px;
    height: auto;
  }
}