.sidebar {
	// flex container 
	.flex-container {
		height: 120px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	// app logo in sidebar
	.sidebar-logo {
		width: 70%;
		display: block;
		margin-left: 20px;
		cursor: pointer;
	}

	// app intro
	.app-intro {
		p {
			margin-bottom: 0;
		}
	}

	// overwrite css for sidebar
	.ant-menu {
		width: 100% !important;
		background: ghostwhite;
	}

	// whole sidebar menu
	.sidebar-menu {
		height: 100vh;
		overflow-y: scroll;
		background: ghostwhite;
		position: relative;
		flex-grow: 0;
		flex-shrink: 0;
		padding-right: 25px;
		box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
		transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
		white-space: nowrap;
		z-index: 800;

		&::-webkit-scrollbar {
      display: none;
    }

		// toggle sidebar
		.toggle-sidebar {
			height: 100vh;
			line-height: 100vh;
			text-align: center;
			width: 25px;
			position: fixed;
			left: 19%;
			top: 0;
			z-index: 1000;
			background: white;
			cursor: pointer;
			transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
		}

		.toggle-sidebar-moveleft {
			left: 0 !important;
		}

		// button to add outline
		.add-outline-button {
			border: none;
			color: palevioletred;
			background: ghostwhite;
			margin: 30px 0 5px 16px;
			display: block;
			cursor: pointer;
			outline: none;
		}
	}

	.sidebar-shrink {
		width: 0 !important;
		overflow: hidden;
	}
}
