.sidebar {
    // overwrite css for sidebar
    .ant-menu {
        width: 100% !important;
        background: ghostwhite;
    }

    // whole sidebar menu
    .sidebar-menu {
        min-height: 100vh;
        background: ghostwhite;
        position: relative;
        flex-grow: 0;
        flex-shrink: 0;
        padding-right: 25px;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
        transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    .sidebar-shrink {
        width: 0 !important;
        overflow: hidden;
    }

    // toggle sidebar
    .toggle-sidebar {
        height: 100vh;
        line-height: 100vh;
        text-align: center;
        width: 25px;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1000;
        background: white;
        cursor: pointer;
    }
}
