.main {
  .main-content {
    // character toolbar
    .character-toolbar {
      min-width: 100px;
      position: absolute;
      background: white;
      top: 0;
      left: 110px;
      border-radius: 5px;
      font-size: 14px;
      box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
      
      // toolbar options
      div {
        cursor: pointer;
        border-bottom: 1px solid lightgray;
        padding: 10px 15px;
        border: 4px solid white;

        // color palette
        .color-palette {
          position: absolute;
          top: 0;
          left: 112px;
          width: 240px;
          background: white;
          box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
          cursor: auto;

          &:hover {
            background-color: white;
          }

          // each single color
          .color-circle {
            border-radius: 50%;
            width: 30px;
            height: 30px;
            margin: 5px;
            background: pink;
            float: left;
            padding: 0 !important;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
            cursor: pointer;
          }

          &:after {
            content: '';
            display: block;
            clear: both;
            visibility: hidden;
            height: 0;
          }
        }

        &:hover {
          background-color: rgb(255, 176, 176);
        }
      }
    }

    table {
      // character card
      .character-header {
        width: 240px;
        white-space: nowrap;
        position: sticky;
        top: 0;
        text-overflow: ellipsis;
        word-break: break-all;
        height: 60px;
        background: white;
        opacity: 0.99;
        overflow: visible;
        padding: 0 20px;
        z-index: 100;

        // character card
        .main-character-card {
          width: 200px;
          height: 60px;
          line-height: 60px;
          text-align: center;
          border-radius: 5px;
          // box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
          //             0 4px 6px -2px rgba(0, 0, 0, 0.05);

        }

        // setting icon
        .character-setting-icon {
          position: absolute;
          top: 5px;
          right: 25px;
          cursor: pointer;
          font-size: 16px;
        }
      }

      // top-left card
      .character-append {
        top: 0;
        transform: translateX(-40px);
      }
    }
  }
}