.novel-character {
  transition: width 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
  float: right;
  height: 100vh;
  overflow-y: scroll;
  width: calc(100% - 300px);

  .novel-character-container {
    padding-left: 40px;
    padding-top: 10px;
    position: relative;

    // search bar
    .search-bar {
      width: calc(100% - 24px);
      height: 45px;
      margin-bottom: 15px;
    }
  }

  // check all checkbox
  .check-all-box {
    position: absolute;
    top: 20px;
    right: 30px;
  }

  // page when character is empty
  .empty-character {
    text-align: center;

    img {
      width: 40%;
    }
  }
}